<div class="category-menu">
  {% assign ordered_categories = "Technical Experiences,Creative Coding,Side Projects & Challenges,Discography" | split:
  "," %}

  {% for category_name in ordered_categories %}
  {% assign posts = site.categories[category_name] %}
  {% if posts.size > 0 %}
  <div class="category-group">
    <h3 class="category-title">{{ category_name }}</h3>
    <nav class="post-list">
      {% for post in posts %}
      <a class="post-list-item" href="{{ post.url | relative_url }}">
        <span class="post-title">{{ post.title }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
  {% endif %}
  {% endfor %}
</div>